html{
  scroll-behavior:smooth;
}
nav {
    text-align: center;
    margin-top: -70px;
    position: relative;
    padding-right: 250px;
}

ul {
    list-style-type: none;
    margin-left: -40px;
}

li {
    display: inline-block;
}
ul li:before{
  position:absolute;
  content:"";
  width:50%;
  height:5px;
  background:#2980b9;
  bottom:0;
  left:0;
  opacity:0;
  transition:0.5s;
}
ul li:after{
  position:absolute;
  content:"";
  width:50%;
  height:5px;
  background:#e74c3c;
  bottom:0;
  right:0;
  opacity:0;
  transition:0.5s;
}

a {
	color: black;
	text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
}

a:hover {
	color: blue;
}

li a {
  transition: all 0.3s ease;
	display: block;
    font-size: 20px;
    text-align: center;
    padding: 10px 15px;
}

li a:hover {
	transform: rotate(5deg) scale(1.1);
}

li a:hover:before, li a:hover:after{
	opacity: 1;
	width: 20px;
}

li a:before, li a:after {
  transition: all 0.3s ease;
	opacity: 0;
	border-top: 1px solid blue;
    content: '';
    display: block;
    position: relative;
    z-index: -1;
    margin: auto;
    width: 0px;
}

li a:before {
    top: 0px;
    transform: rotate(120deg) translateY(-50%) translateX(-50%);
}

li a:after {
    top: 5px;
    transform: rotate(-60deg) translateY(-50%) translateX(-50%);
}

hr{
    border: 2px solid black;
    margin-top: -50px;
}
.imm{
    width: 190px;
    height: 50px;
    margin-top: -5px;
}
.material-symbols-outlined {
    padding-left: 900px;
    margin-top: 1px;
    position: relative;
    top: -60px;
    font-weight: bold;
    font-size: xx-large;
    white-space: nowrap;
    display: inline-block;
}
.dd{
    display: flex;
    white-space: nowrap;
}
.search{
    position: absolute;
    top: 10px;
    left: 990px;
    border-radius: 20px;
    border: 1px solid black;
    height: 30px;
    font-weight: bolder;
    font-family:Georgia, 'Times New Roman', Times, serif;
    align-items: center;
}
nav ul a:hover{
    text-decoration: underline;
    color: black;
}
#imagess{
    position: absolute;
    top: 100px;
    left: 700px;
    height: 300px;
}
#imagessa{
  position: absolute;
  top: 450px;
  left: 600px;
  height: 200px;
}
h1{
    font-size: 80px;
    font-family: 'Rowdies', cursive;
    padding-left: 40px;
    margin-top: 120px;
  
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
footer{
  background: #140B5C;
  width: 100%;
  bottom: 0;
  left: 0;
  margin-top: 1100px;
}
footer::before{
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
  background: #AFAFB6;
}
footer .content{
  max-width: 1250px;
  padding: 30px 40px 40px 40px;
}
footer .content .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.content .top .logo-details{
   width: 200px;
}
.content .top .media-icons{
  display: flex;
}
.content .top .media-icons a{
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.top .media-icons a:nth-child(1){
  background: #4267B2;
}
.top .media-icons a:nth-child(1):hover{
  color: #4267B2;
  background: #fff;
}
.top .media-icons a:nth-child(2){
  background: #1DA1F2;
}
.top .media-icons a:nth-child(2):hover{
  color: #1DA1F2;
  background: #fff;
}
.top .media-icons a:nth-child(3){
  background: #E1306C;
}
.top .media-icons a:nth-child(3):hover{
  color: #E1306C;
  background: #fff;
}
.top .media-icons a:nth-child(4){
  background: #0077B5;
}
.top .media-icons a:nth-child(4):hover{
  color: #0077B5;
  background: #fff;
}
.top .media-icons a:nth-child(5){
  background: #FF0000;
}
.top .media-icons a:nth-child(5):hover{
  color: #FF0000;
  background: #fff;
}
footer .content .link-boxes{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .content .link-boxes .box{
  width: calc(100% / 5 - 10px);
}
.content .link-boxes .box .link_name{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}
.link-boxes .box .link_name::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}
.content .link-boxes .box li{
  margin: 6px 0;
  list-style: none;
  
}
.content .link-boxes .box li a{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease;
}
.content .link-boxes .box li a:hover{
  opacity: 1;
  text-decoration: underline;
}
.content .link-boxes .input-box{
  margin-right: 55px;
}
.link-boxes .input-box input{
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #AFAFB6;
  background: #140B5C;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}
.link-boxes .input-box input::placeholder{
  color: #AFAFB6;
  font-size: 16px;
}
.link-boxes .input-box input[type="button"]{
  background: #fff;
  color: #140B5C;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover{
  opacity: 1;
}
footer .bottom-details{
  width: 100%;
  background: #0F0844;
}
footer .bottom-details .bottom_text{
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover{
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a{
  margin-right: 10px;
}
@media (max-width: 900px) {
  footer .content .link-boxes{
    flex-wrap: wrap;
  }
  footer .content .link-boxes .input-box{
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px){
  footer{
    position: relative;
  }
  .content .top .logo-details{
    font-size: 26px;
  }
  .content .top .media-icons a{
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 3 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 12px;
  }
}
@media (max-width: 520px){
  footer::before{
    top: 145px;
  }
  footer .content .top{
    flex-direction: column;
  }
  .content .top .media-icons{
    margin-top: 16px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 2 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 100%;
  }
}
.kkk{
  position: absolute;
  left: 14%;
  top: 80%;
  border: 1px solid black;
  background-color: #e74c3c;
  color: #fff;
  width: 100px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
}
.kkk:hover{
  background-color: #fff;
  color: #e74c3c;
  transition: all 0.7s;
  font-weight: bold;
  transform: 20s;
  scroll-behavior: smooth;
}
.pp{
  position: absolute;
  left: 2.5%;
  top: 65%;
  font-family: 'Pacifico', cursive;
  font-size: 20px;

}
.dda{
  position: absolute;
  top: 100%;
}
.ddda{
  position: absolute;
  top: 160%;
}
